<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="PASS9" connectionString="metadata=res://*/Pass9.csdl|res://*/Pass9.ssdl|res://*/Pass9.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.0.200;Initial Catalog=PASS9;Persist Security Info=True;User ID=sa;Password=firerain;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>